body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5BEBA;
}

.navbar {
    background-color: #C5001A;
    width: 100%;
}

.nav-link {
    color: #E4E3DB;
}

.navbar-brand {
    color: #E4E3DB;
}

.navbar-nav{
    padding-left: 100px;
}

h2 {
    color: #113743;
}

h1 {
    color: #113743;
}

.miloco{
    margin-top: 20px;
}


/* barras: #C5001A
   letra en barras #E4E3DB
   fondos:  #C5BEBA
   letras en fondos #113743 */