{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Agregar Ticket</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Soporte Técnico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post' %}">AGREGAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar' %}">LISTAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patch' %}">MODIFICAR</a>
                    </li>
                </ul>
            
                <!-- Botones de inicio de sesión y registro -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Cerrar Sesion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal' %}">
                            <i class="bi bi-person-plus"></i> Registrarse
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="miloco">
        <h2>Crear Nuevo Ticket</h2>
        <form id="ticketForm" class="p-4 border rounded">
            <div class="mb-3">
                <label for="title" class="form-label">Título del Ticket:</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Descripción del Problema:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            
            <div class="mb-3">
                <label for="priority" class="form-label">Prioridad:</label>
                <select class="form-select" id="priority" name="priority" required>
                    <option value="" selected disabled>-- Selecciona una opción --</option>
                    <option value="reparar">Reparar</option>
                    <option value="analizar">Analizar</option>
                    <option value="cambiar">Cambiar</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="status" class="form-label">Estado del Ticket:</label>
                <select class="form-select" id="status" name="status" required>
                    <option value="iniciado">Iniciado</option>
                    <!-- <option value="" selected disabled>-- Selecciona una opción --</option>
                    <option value="revisado">Revisado</option>
                    <option value="terminado">Terminado</option>
                    <option value="cancelado">Cancelado</option> -->
                </select>
            </div>
            
            <div class="mb-3">
                <label for="ticketDate" class="form-label">Fecha del Ticket:</label>
                <input type="date" class="form-control" id="ticketDate" name="ticketDate" required>
            </div>
            
            <div class="mb-3">
                <label for="updateDate" class="form-label">Fecha de Actualización:</label>
                <input type="date" class="form-control" id="updateDate" name="updateDate" required>
            </div>
            
            <button type="submit" class="btn btn-danger">Enviar</button>
        </form>
        
        
    </div>
    

    <script src="{% static 'rest-api/put.js' %}"></script>
    <!-- Agrega la referencia a SweetAlert2 en el encabezado de tu HTML -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
